<div id="page">
  <div id="sidebar">
    <ul id="sidebar-items">
    </ul>
  </div>

  <div id="content">
    <div id="header">
      <h1>TaxonConcept.org</h1>
      <h2>Species Concepts</h2>
    </div>

    <div id="about">
    </div>

    
    <div id="getting-started">
      <h1></h1>
      <h2></h2>
      
      <ol>          
      </ol>
    </div>
  </div>
  
  <div id="footer">&nbsp;</div>
